<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"> 
    <ui:composition template="/templates/main.xhtml">
        <ui:define name="content">
            <h:form>
                <h:outputText value="heee.."/>
                <h:panelGrid>
                    <h:inputText id="imgPathInT" value="#{calendarBean.imgPath}">
                        <f:ajax event="blur" render="img" />
                    </h:inputText>
                    <h:graphicImage id="img" library="images" name="#{calendarBean.realImgPath}" width="150"/>
                </h:panelGrid>
            </h:form>
        </ui:define>

    </ui:composition>
</html>

